<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @model Game.Mvc.Models.MessageViewModel
        @{ 
            ViewBag.Title = "Upgrade";
    }
    <h2>@this.Model.Message</h2>
</body>
</html>